{%- for wiki_detail in include.entry.details -%}
  {%- assign wiki_detail_first = wiki_detail.target | slice: 0, 1 -%}
  {%- if wiki_detail_first == '#' -%}
    {%- assign wiki_detail_url = include.entry.url | append: wiki_detail.target -%}
  {%- else -%}
    {%- assign wiki_detail_url = wiki_detail.target -%}
  {%- endif -%}
  <li><span class="wiki-toc-row" data-no-interface-translation><a class="wiki-toc-number" href="{{ wiki_detail_url | relative_url | escape }}" aria-label="{{ wiki_detail.title | escape }}">{{ forloop.index }}.</a><span class="wiki-toc-title">{{ wiki_detail.title | escape }}</span></span></li>
{%- endfor -%}
